<html>
	<head>
		<title>Patricia's blog</title>
	</head>

	<body>
		<div>
			<h1>Be smart, make healthy choices</h1>
		</div>

		<div>
			<p>published: March, 6, 2016</p>
			<h2>In the supermarket</h2>
			<h3>Vegetables</h3>
			<em>Choose different colors of vegetables and fruits</em>
			<strong>Buy vegetables from the season</strong>
			<br> </br>
			<a href="http://djangogirls.org">link</a>
			<ul><li>firt item</li><li>second item</li></ul>
		</div>
	
		<div>
			<p>Hi there!</p>
			<p>It works!</p>
		</div>
	</body>
</html>
